article td {
  font-size: 110%;
  font-family: Georgia, "Times New Roman", serif;
  color: #101010;
  vertical-align: top;
  padding-top: 1em;
}
article pre {
  font-size: medium;
  font-family: "Lucida Console", Courier, monospace;
  border-left: 2px solid #d0d0d0;
}
article pre.code {
  background: #f5f8fa;
}
article pre.console {
  color: white;
  background: #101010;
}
article h1 {
  font-family: Georgia, "Times New Roman", serif;
}
article {
  margin-left: 1%;
  margin-right: 1%;
}
body {
  margin: 0px;
} 
header {
  padding: 1%;
  background: #c0d8e8;
  font-size: 150%;
  font-family: "Lucida Console", Courier, monospace;
}
header a {
  color: #101010;
  text-decoration: none;
}
nav {
  font-size: 110%;
  font-family: Georgia, "Times New Roman", serif;
}
nav a {
  color: #0073c0;
}
nav td {
  padding-top: 0;
}
